<html>
	<body >
		<div id='header'>
			<%=erb :'parts/_header.html'%>
		</div>
		<div id='main' overflow-y: scroll;>
			<%= yield %>
		</div>
		<div id='footer'>
			<%=erb :'parts/_footer.html'%>
		</div> 
	</body> 
<body>