<html>
	<head>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		<style>
			body {
				background-image:url('/img/retina_wood_@2X.png');
			}
</style>
	</head>
	<body >
		<div id='header'>
			<%=erb :'parts/_header.html'%>
		</div>
		<div id='main' overflow-y: scroll;>
			<%= yield %>
		</div>
		<div id='footer'>
			<%=erb :'parts/_footer.html'%>
		</div> 
	</body> 
<body>