<!DOCTYPE html>
<html>
	<head>
		<title> loggedin_root </title>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="span2">
					<div class="row">
						<div class="span1">
							<form action="/mypage" method="GET" style="margin-top:10px">
								<button type="submit" class="btn btn-info pull-left "style="height:35px; width:85px">mypage</button>      
							</form>
						</div>
					
						<div class="span1">
							<form action='/logout' method="GET" style="margin-top:10px">
								<button type="submit" class="btn btn-info pull-left "style="height:35px; width:85px">Logout</button>
							</form>
						</div>
					</div>
						<hr class="divider" color="black">
					<div style="margin-top:20px;" >						
						<img src="/img/icon/<%=rand(24)%>.ico" alt="icons" style="width:128px;height:128px">
						<hr class="divider" style="color:black">
						<form action = "/profile" method="GET">
							<button type="submit" class="btn btn-info "style="height:35px; width:110px">profile</button> 
						</form>
						
						<button class="btn btn-info" type="button" style="height:35px; width:110px">
  							follows <span class="badge">4</span>
						</button>
						
						<button class="btn btn-info" type="button" style="height:35px; width:110px; margin-top:20px">
  							follower <span class="badge">4</span>
						</button>
					
					</div>		
				</div>	
				<div class="span8" >
					<h2><center> Tweet area</center></h2>
					<p><center>
						<form action="/tweet" method="POST"> <!--Update the tweets through methods in /tweet-->
							<textarea class="input-xxlarge" name="tweet_content" placeholder="post a tweet here" maxlength="140" cols=80 rows=5></textarea>
							<br/><br/>
							<button type="submit" class="btn btn-info ">Post Tweet</button>
						</form>
					</center></p>
					
					<div id="tweets">
						<%= erb :'parts/_show_tweets.html' %>
					</div>
				</div>
				<div class="span2">
					<%= erb :'parts/_recomand.html' %>
				</div>
			</div>
	</body>
</html>

