<!DOCTYPE html>
<html>
	<head>
		<title> loggedin_root </title>
	</head>
	
	<form action='/logout' method="GET">
		<input type="submit" value = "Logout" style="float: right;"/>
	</form>
	<form action="/mypage" method="GET">
		<input type="submit" value = "mypage" style="float: right;"/>      
	</form>


	<div id="nav">
		Picture<br>
	<form action = "/profile" method="GET">
		<input type="submit" value = "Profile" style="float: blue;"/>
	</form>
	<br>
	Follower number<br>
	Followed number<br>
	</div>

	<div id="section">
		<h2>Tweet area</h2>
		<p>
			<form action="/tweet" method="POST"> <!--Update the tweets through methods in /tweet-->
				<textarea name="tweet_content" placeholder="post a tweet here" maxlength="140" cols=80 rows=5></textarea>
				<br/><br/>
				<input type="submit" value="Post Tweet" style="width:100px"/>
				<input type="hidden" name="path" value="/loggedin_root">
			</form>
		</p>
		<div id="tweets">
		<%= erb :'parts/_show_tweets.html' %>
		</div>

	</div>
	
	<div id="float_right">
		<h2 align = "right"> Follow Me!</h2>
		<p>
			<% @recommendations.each do |potential_followee| %>
 			<% @user_id= potential_followee.id %>
 			<% potential_followee_name = potential_followee.user_name%>
			<p align = "right"><a href="/user_page?user_id=<%= @user_id %>"> <%= potential_followee_name %> </a>
			<br/>
		<% end %>
		
	</body>
</html>

