<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>

<body>

<div id="header">
<h1>Logged in Root Page</h1>
</div>

<div id="nav">
Picture<br>
Profile<br>
Follower number<br>
Followed number<br>
</div>

<div id="section">
<h2>Tweet area</h2>
<p>
<form action="/tweet" method="PUT"> <!--Update the tweets through methods in /tweet-->
	<textarea name="tweet_content" cols=80 rows=5/>
		Post a twitter here
	</textarea>
	<br/>
	<br/>
	<input type="submit" value="Send" style="width:100px"/>
</form>
</p>
<% (1...10).each do |num| %>
	<%= 'twitter:'%>
	<%= num%>
	<a href="/">userpage</a>	
	<br/>
<% end %>

</div>

<div id="footer">
Copyright © nanotwitter group
</div>

</body>
</html>

