<html>
    <head>
        <title>nanoTwitter</title>
    </head>
<body>

<form action="/" method="GET">
<!--<button name = "button" type "button">
    <strong>Register</strong>
    </button>-->
<input type="submit" value="Home" style="float: right;"> 

</form>

<form action="/register" method="GET">
<!--<button name = "button" type "button">
    <strong>Register</strong>
    </button>-->
<input type="submit" value="Register" style="float: right;"> 

</form>

<h1>NanoTwitter: Login</h1>
Login to your account
<form action='/redirect_login' method="GET">
    Username: <input type="text" name="user_name">
    <br/>
    Password: <input type="password" name="password">
    <br/>
    <input type="submit" value="Login"> 
<!--<button name="button" type="button">
    <strong>Login</strong>
    </button>-->


</form>

</body>
</html>
