<!DOCTYPE html>
<html>
    <head>
        <title>nanoTwitter</title>
    </head>
<body>

<div class="container">	
	<div class="row " align="center" style="margin-top:60px">
		<h1>NanoTwitter Login</h1>
		<br/>
		<form action='/redirect_login' method="GET">
			Username: <input type="text" name="user_name">
			<br/>
    		Password: <input type="password" name="password">
    		<br/><br/>
    		<button type="submit" class="btn btn-info " style="height:35px; width:85px">Login</button>
    	</form>
    	<form action="/register" method="GET">
    			<button type="submit" class="btn btn-info " style="height:35px; width:85px" >Register</button>
    		</form>
    </div>
</body>
</html>
