<!DOCTYPE html>
<html>
	<head> 
		<title> My User Page </title>       
    </head>
	<body>
		<div >
			<form action='/logout' method="GET">
				<input type="submit" value = "Logout" style="float: right;"/>
			</form>
			
			<form action="/loggedin_root" method="GET">
				<input type="submit" value = "loggedin_root" style="float: right;"/>      
			</form>
		</div>
		
		
		
		
		<br><br>
		
		<div id="nav">
			Picture        <br>
			<form action="/profile" method="GET">
				<input type="submit" value = "Profile" style="float: left;"/>      
			</form>	<br>	  
			Follower number<br>
			Followed number<br>
		</div>
		
		<div id="section">
			<h2>Tweet area</h2>
			<p>
				<form action="tweet" method="POST"> <!--Update the tweets through methods in /tweet-->
					<textarea name="tweet_content" placeholder = "Post a tweet here" maxlength="140" cols=80 rows=5/></textarea>
					<br/><br/>
					<input type="submit" value="Post Tweet" style="width:100px"/>
				</form>
			</p>
			<div id="tweets">
			<%= erb :'parts/_show_tweets.html' %>
			</div>
		</div>
	</body>
</html>
