<!DOCTYPE html>
<html>
	<head> 
		<title> My User Page </title>       
    </head>
	<body>
		<div >
			<form action='/logout' method="GET">
				<button type="submit" class="btn btn-info pull-right ">Logout</button>
			</form>
			
			<form action="/loggedin_root" method="GET">
				<button type="submit" class="btn btn-info pull-right ">Home</button>     
			</form>
		</div>
		
		
		
		
		
		
		<div id="nav">
			Picture        <br>
			<form action="/profile" method="GET">
				<button type="submit" class="btn btn-info ">Profile</button>      
			</form>	<br>	  
			Follower number<br>
			Followed number<br>
		</div>
		
		<div id="section">
			<h2><center> Tweet area</center></h2>
			<p><center>
				<form action="tweet" method="POST"> <!--Update the tweets through methods in /tweet-->
					<textarea class="input-xxlarge" name="tweet_content" placeholder="post a tweet here" maxlength="140" cols=80 rows=5></textarea>
					<br/><br/>
					<button type="submit" class="btn btn-info ">Post Tweet</button>
				</form>
			</center></p>
			<div id="tweets">
			<%= erb :'parts/_show_tweets.html' %>
			</div>
		</div>
	</body>
</html>
