<html>
    <head>
        <title>nanoTwitter</title>
    </head>
<body>

<h1>Make a New Account</h1>
<br/>
To sign up for a new account, please enter your name, password, and a username.
<br/>
<form action="/api/v1/user/register" method="POST">
    email: <input type="text" name="email">
    <br/>
    Username: <input type="text" name="user_name">
    <br/>
    Password: <input type="text" name="password">
    <br/>
    <input type="submit" value="Register">
</form>
</body>
</html>
