<!DOCTYPE html>
<html>
	<head>
		<title>User page</title>
	</head>

	<body>
		

		<div class="container">
			<div class="row">
				<div class="span2">
					<div style="margin-top:20px;" >						
						<img src="/img/icon/<%=rand(1..24)%>.ico" alt="icons" style="width:128px;height:128px">
						<hr class="divider" style="color:black">
						<form action = "/profile" method="GET">
							<button type="submit" class="btn btn-info "style="height:35px; width:110px">profile</button> 
						</form>
						
						<button class="btn btn-info" type="button" style="height:35px; width:110px">
  							follows <span class="badge">4</span>
						</button>
						
						<button class="btn btn-info" type="button" style="height:35px; width:110px; margin-top:20px">
  							follower <span class="badge">4</span>
						</button>
					</div>	
					
				</div>
				<div class="span7" style="margin-top:20px">
					<h2 align="center"><%= @owner_name%>'s Tweets </h2>
					<%= erb :'parts/_show_tweets.html' %>
				</div>
				<div class="span3" style="margin-top:20px" >
					<%=erb :'parts/_followbutton_set.html'%>
				</div>
			</div>
		</div>
	</body>
</html>


