<html>
    <head>
        <title>nanoTwitter</title>
    </head>
<body>

<h1>Welcome to NanoTwitter!</h1>
<form action="/login" method="GET">
<p>To use NanoTwitter, login or register for a new account</p>
<p>Login:</p>
<input type="submit" value="Go To Login">

</form>
<p>Register:</p
<form action="/register" method="GET">
<!--<button name = "button" type "button">
    <strong>Register</strong>
    </button>-->
<input type="submit" value="Go To Register">   
    <p>TWEETS WILL APPEAR DOWN HERE</p>
</form>
</body>
</html>
