#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:100%;
    width:15%;
    float:left;
    padding:5px;	      
}
#section {
	text-align:center;
    width:80%;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
#main{
	height:600px
}
#tweets {
	height:500px;
	overflow-y: scroll;	
}

#float_right{
	width: 10%; 
	float: right;
	position: absolute;
	right: 100px;
    top: 300px;
}
#float_left{
	width: 10%; 
	float:left;
	position: absolute;
}