<html>
    <head>
        <title>nanoTwitter</title>
    </head>
<body>

<h1>NanoTwitter: Login</h1>
Login to your account
<form action='/redirect_login' method="GET">
    Username: <input type="text" name="user_name">
    <br/>
    Password: <input type="text" name="password">
    <br/>
    <input type="submit" value="Login"> 
<!--<button name="button" type="button">
    <strong>Login</strong>
    </button>-->


</form>

</body>
</html>
