<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <title>My Profile Page</title>
    <style>
    	h1 {text-align: center;}
      h2 {text-align: center;}
      h3 {text-align: center;} 
    </style>
  </head>  
  <body>
    <form action="/mypage" method="GET">
      <input type="submit" value = "Ruoyun Song" style="float: right;"/>
    </form>
    <h1>My Profile Page</h1>
    <br><br>
    <center>Ruoyun Song</center><br>
    <center>jasmsong@brandeis.edu</center><br>
    <br>
    <h3>MY FOLLOWED USERS WILL APPEAR HERE</h3>
    <center>
      <form action="/loggedin_userpage" method="GET">
        <input type="submit" value = "Andy" style="float: blue;"/><br>
        <input type="submit" value = "Jinfeng Lin" style="float: blue;"/><br>
        <input type="submit" value = "Mark" style="float: blue;"/><br>
      </form>
    </center>
  </body>  
</html>  