<html>
    <head>
    <style>
    	h1 {
    	text-align: center;
	}

 	h2 {
    	text-align: center;
	}

	h3 {
    	text-align: center;
	} 
    </style>
        <title>Unlogged-In User Tweets</title>
    </head>
<body>

<form action="/login" method="GET">
<input type="submit" value = "Login" style="float: right;>
</form>

<form action="/register" method="GET">
<input type="submit" value = "Register" style="float: right;">      
</form>



<h1>User Name's Tweets</h1>
<br><br>
<h3>USER'S TWEETS WILL APPEAR HERE</h3>


</body>
</html>
