<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        	<div class="container">
          		<div class="navbar-header">
          			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</button>
          			<a class="brand" href="/"> <img alt="" src="/img/volcano.gif"> </a>
          		</div>
          		</br></br>
          		<div class="nav-collapse collapse">
            		<ul class="nav navbar-nav">
              			<li class="active"><a href="/login">Home</a></li>
            		</ul>
            		<ul class="nav navbar-nav pull-right">
            			<form class="form-search pull-right">
            				<div class="input-append">
        						<input type="text" class="span2 search-query">
          						<span class="input-group-btn">
          							  <button type="submit" class="btn"><i class="icon-search"></i></button>
          						</span>
        					</div>
        				</form>
            		</ul>		
      		  	</div><!--/.nav-collapse -->
        	</div>
      	</div>
</div>