<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        	<div class="container">
          		<div class="navbar-header">
          			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</button>
          			<a class="brand" href="/"> <img alt="" src="/img/volcano.gif"> </a>
          		</div>
          		</br></br>
          		<div class="nav-collapse collapse">
            		<ul class="nav">
              			<li class="active"><a href="/login">Home</a></li>
              			
            		</ul>
            		
            		<ul class="nav navbar-nav pull-right">
            			<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          	<button type="submit" class="btn btn-default">submit</button>
        </div>
        
      </form>
            		</ul>
            			
      		  	</div><!--/.nav-collapse -->
      		  	
        	</div>
      	</div>
    </div>

<h1>Welcome to NanoTwitter!</h1>
<h4> brought to you by AshCloud<br> Andy Alexander, Mark Capobianco, Jinfeng Lin, Ruoyun Song</h4>
