<center><b>Most Recent Tweets</b></center>
<% @user_id_array.zip(@user_name_array,@text_array,@created_time_array) do |tweet| %>
	<% user_id=tweet[0]%>
	<% user_name= tweet[1] %>
 	<% text= tweet[2]%>
 	<% time= tweet[3] %>
	<p><center><a href="/user_page?user_id=<%= user_id %>"> <%= user_name %> </a>
	<%= time %>
	<center><%= text%></center>
	<br/>
<% end %>

